# Data
*.log*
*.ini
*.sqlite
*.sqlite-wal
*.sqlite-shm

# Debug
debug.py
test*.py
debugdb.py
*.json
*.example

# Strategies
strategies/*.py

# Plugins
sym_signals.py
asap.py

# Other
__pycache__
nohup.out
*.bak