[general]
timezone = Europe/London
debug = true
port = 8120

[signal]
plugin = autocrypto
plugin_type = internal

[plugin]
plugin_settings = {"api_url": "wss://oy5v5kbdt3.execute-api.eu-west-1.amazonaws.com/production", "api_key": "fillinyourkey", "deny_bots": ["news-analyzer", "candle-surfer-public"]}

[filter]
pair_denylist = USDC,USTC,DAI,TUSD,BUSD,FDUSD

[exchange]
exchange = binance
timeframe = 1m
key = insert your exchange key
secret = insert your exchange secret
dry_run = true
currency = USDT
# future and spot is available for market
market = spot
# Futures settings
leverage = 1
# crossed and isolated is available for margin_type
margin_type = isolated
# If activated - fee calculation is disabled and full amount is considered
# You can activate it, if you pay the fees with BNB or other exchange tokens
# Activate it if you test with Binance Testnet too
fee_deduction = False

[trading]
# don't turn it of - if you like no safety orders - unset mstc (default)
dca = true
# in percent - if 0 trailing tp is disabled
trailing_tp = 0
# Number of concurrent trades
max_bots = 1
# base order size
bo = 10
# safety order size
#so = 100
# price deviation to open safety orders
#sos = 2
# safety order step scale
#ss = 0.98
# safety order volume scale
#os = 1.32
# max safety orders count
#mstc = 5
# max active safety orders count
# max = 2
# take profit in percent
tp = 1
# stop loss in percent
sl = 1
