[general]
timezone = Europe/London
debug = true
port = 8120

[signal]
plugin = asap

[plugin]
plugin_settings = {"api_url": "wss://oy5v5kbdt3.execute-api.eu-west-1.amazonaws.com/production", "api_key": "fillinyourkey", "deny_bots": ["news-analyzer", "candle-surfer-public"]}

[filter]
#pair_allowlist =
#pair_denylist = USDC,USTC,DAI,TUSD,BUSD,FDUSD

[exchange]
exchange = binance
timeframe = 1m
key = insert your exchange key
secret = insert your exchange secret
password = insert your password (only okx exchange)
dry_run = true
currency = USDT
# only spot is available right now
market = spot
# If activated - fee calculation is disabled and full amount is considered
# You can activate it, if you pay the fees with BNB or other exchange tokens
fee_deduction = False

[trading]
# don't turn it of - if you like no safety orders - unset mstc (default)
dca = true
# Dynamic DCA - you need Moonloader for it
dynamic_dca = False
# in percent - if 0 trailing tp is disabled
trailing_tp = 0
# Number of concurrent trades
max_bots = 1
# base order size
bo = 10
# safety order size
#so = 100
# price deviation to open safety orders
#sos = 2
# safety order step scale
#ss = 0.98
# safety order volume scale
#os = 1.32
# max safety orders count
#mstc = 5
# take profit in percent
tp = 1
# stop loss in percent
sl = 1

[indicators]
# Only needed if you activate 
# Only works with Moonloader! - see https://github.com/TBMoonwalker/moonloader
ws_url = http://localhost:9130/api/v1
